.blog {
  margin: 1rem 0;

  @include for-tablet-portrait-up {
    margin: 1rem 0 3rem;
  }

  .blog-items {
    @include flexbox($wrap: wrap);
    gap: 2rem;
    opacity: 0;
    animation: fadeIn 0.5s cubic-bezier(0.14, 0.18, 0.16, 1.02) forwards;
    animation-delay: 0.4s;

    .blog-item {
      background: var(--blog-item-background);
      cursor: pointer;
      padding: 1.5rem;
      width: 100%;
      position: relative;
      overflow: hidden;
      border-radius: 1.125rem;
      box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
      transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);

      @include for-tablet-portrait-up {
        padding: 2.5rem;
        width: calc((100% / 2) - 2rem + (2rem / 2));
      }

      &:hover {
        transform: scale(1.015);
      }

      .title {
        font-size: 1.35rem;
        margin-bottom: 1rem;

        @include for-tablet-portrait-up {
          font-size: 1.5rem;
        }
      }

      .summary {
        color: var(--blog-item-summary-color);
        font-size: 1.15rem;
        font-weight: 300;
        margin-bottom: 1.5rem;

        @include for-tablet-portrait-up {
          font-size: 1.25rem;
        }
      }

      .img-box {
        text-align: center;
        margin-top: auto;
      }
    }
  }
}
