.contact {
  margin-top: 1rem;

  .header-title {
    margin-bottom: 1rem;
    @include for-tablet-portrait-up {
      font-size: 3rem;
    }
  }

  .contact-inner {
    opacity: 0;
    margin-top: 3rem;
    animation: fadeIn 0.5s cubic-bezier(0.14, 0.18, 0.16, 1.02) forwards;
    animation-delay: 0.4s;

    @include for-tablet-portrait-up {
      margin-top: 5rem;
    }
  }

  .contact-form {
    margin: auto;

    .btn {
      width: 100%;
      float: none;
      padding: 1rem 2rem;
      transition: all 0.2s linear 0s;
      min-width: 15rem;

      @include for-tablet-portrait-up {
        float: right;
        width: auto;
      }
    }
  }

  .contact-info {
    @include flexbox(column, start, start, $wrap: wrap);
    margin: 2rem 0;
    gap: 1rem;

    @include for-tablet-portrait-up {
      @include flexbox(row, center, space-between, $wrap: wrap);
      margin: 2rem 0 5rem;
    }

    .contact-info-item {
      color: var(--contact-info-color);
      @include flexbox(column);
      font-size: 1.3rem;
      margin-bottom: 2rem;

      @include for-tablet-portrait-up {
        width: calc((100% / 3) - 1rem + (1rem / 3));
      }

      svg {
        margin-bottom: 1rem;

        path {
          fill: var(--contact-info-icon-color);
        }
      }

      .contact-info-item-link {
        color: var(--contact-info-link-color);
        font-size: 1.4rem;
      }
    }
  }
}
