footer {
  @include flexbox(row, center, center);
  position: static;
  margin: 2rem 0;
  gap: 0.5rem;
  text-align: center;
  color: #999;
  font-size: 1rem;
  width: 100%;

  a svg path {
    fill: var(--footer-icon-color);
  }
}
